*, *::before, *:after {
	box-sizing: border-box; 
}

* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* pour le menu */

nav {
	background-color: rgb(50, 50, 50);
	margin: 0;
	padding: 5px;
	padding-bottom: 1px;

}
nav ul  {
	list-style-type: none; 
	display: flex;
	margin-top: 25px;
	margin-bottom: 20px;
	margin-left: 14%;
}

nav li {
	text-align: center;
}

nav a  {
	color: grey;
	font-weight: bold;
	text-decoration: none; 
	font-size: 16px;	
	padding: 10px;
}


/* pour le body */


h1 {
	font-size: 24px;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.temps {
	float: right;
	margin-right: 2%;
	font-style: normal;
}

/* pour les albums */

.album {
	display: flex;
	width: 70%;
	margin: auto;
	padding-top: 30px;
}

.img_album {
	width: 12rem;
	height: auto;
	margin-right: 1rem;
	border-radius: 10px;
	box-shadow: 0px 10px 15px black;
}

.lecture {
	display: flex;
}

.rouge {
	text-decoration: none;
	color: white;
	background-color: #FA2C49;
	padding: 10px;
	margin: 10px;
	margin-left: 0;
	border-radius: 5px;
	font-weight: bold;
	font-family: Arial, serif;
}

.texte_chanson {
	width: 100%;
	text-decoration: none;
}

.texte_chanson ol {
	padding-top: 30px;
}

.texte_chanson li {
	list-style-type: none;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: white;
	transition: all ease-in 200ms;
}

.texte_chanson ol>li:nth-child(odd) {
	background-color: #DDD;
}

.texte_chanson ol>li>a {
	text-decoration: none;
	color: darkmagenta;
	transition: all ease 200ms;
	vertical-align: middle;
}

.texte_chanson ol>li>a:hover {
	font-size: 200%;
	color: red;
}

.texte_chanson ol>li {
	padding-left: 5px;
}

#sous_img {
	margin-top: 20px;
	font-size: 11px;
	font-weight: bold;
	color: rgb(100, 100, 100);
}

#gpasdelunettedsl {
	border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 850px) /* modifs pour les très petits écrans */
{	
	* {
		font-size: 12px;
	}

	h1 {
		font-size: 16px;
	}

	.album {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.img_album {
		width: 15em;
	}

	#photo_equipe img {
	    width: 15em;
	}
}
